This notebook serves as a tutorial of basic Python programming. You will become familiar with Python data structures including both the basic and advanced data types. You will also start using Python if statement and loops. At the end of this tutorial, you should be feeling comfortable writing basic Python codes. You will also obtain most of the Python coding knowlege that you need to know in order to finish the lab exercises.

But keep in mind that the best way to get better at Python coding (or any other  programming language) is to practice it every day!

Many of the example codes in this manual come with comments, which in Python always start with the hash character #, and extend to the end of the physical line. Comments appear only for the purpose of the clarity of codes, and are not interpreted by Python.

Please run the Python codes in the following cells, and have fun!

Author: Jiajia Sun @ University of Houston, 01/23/2018

# Section 1: Integers

In [1]:
# The first basic Python data type is integers
a = 3
print(a)

3

In [2]:
# All the algebraic operations such as addition, subtraction, division, etc, apply to integers
b = 5
c = 13
print('b + c =', b + c)
print('b - c =', b - c)
print('b * c =', b*c)
print('b/c =', b/c)

b + c = 18
b - c = -8
b * c = 65
b/c = 0.38461538461538464

In [3]:
# Note the % operator returns the remainder of the division
d = 17
e = 3
print('17 % 3 =', 17%3, 'This is the remainder!')
print('17 / 3 =', 17/3, 'This is division!')

17 % 3 = 2 This is the remainder!
17 / 3 = 5.666666666666667 This is division!

# Section 2: Floats

In [4]:
# Floats are simply numbers with decimals
f = 5.678
print(f, 'is a floating point number.')

5.678 is a floating point number.

In [5]:
# Similar to integers, for floats, you can also perform any of the algebraic operations
g = 82.132
print('f * g =', f*g)

f * g = 466.345496

# Section 3: Strings

In [6]:
# A string is a collection of characters. In Python, you create a string by enclosing a sequence of characters within a pair of single or double quotes
h = 'John'
i = 'lives'
j = "at"
k = "Houston"
print(h + i + j + k)

JohnlivesatHouston

In [7]:
# Note that the output from previous code cell looks odd because of the lack of spaces between adjacent words.
# A simple way to fix it is to add one additional space in each string (except for the last one)
h = "John "
i = "lives "
j = "at "
k = "Houston"
print(h + i + j + k)

John lives at Houston

Note that you can concatenate strings by using the + sign. Also, note that this line you are reading now is NOT comments, because it does not start with the hash sign #.

In [8]:
# If you want to start a new line, you need to use \n.
line = 'First line. \nSecond line.'
print(line)

First line.
Second line.

In [9]:
# Strings can be indexed (subscripted), with the fist character having index of 0. 
# Note that Python does not have a character data type. A single character can be considered as a string of size one.
mychar = 'Python'
mychar[0]  # The character with index 0

'P'

In [10]:
mychar[1]  # The character with index 1

'y'

In [11]:
mychar[2:] # The sequence of characters beginning with the one with index 2 until the last character in the string

'thon'

In [12]:
print(mychar * 2)

PythonPython

# Section 4: Boolean

In [13]:
# A Boolean variable in Python can only take two values: True, False
bvar = 'True'
print(bvar)

True

Now we are moving on to the more advanced data types in Python

# Section 5: Array

In [14]:
# An array is a compact way of collecting values of the same basic data types (i.e., homogeneous items)
# Since we will use Numpy array for our class, we will only look at Numpy array for now.
# To creat a Numpy array, we first need to import Numpy library
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [13]:
# Now, let us create a Numpy array and multiply it by 3.2
narr1 = np.array([2,3,5])
narr2 = narr1 * 3.2
print(narr2)

NameError: name 'np' is not defined

In [16]:
# You can slice a numpy array using indices
narr2[0]  # The element or item associated with index 0

6.4000000000000004

In [17]:
# If you want to add a value, say, 21.3, to every elements, you can simply do the following:
narr3 = narr2 + 12.3
print(narr3)

[ 18.7  21.9  28.3]

# Section 6: Lists

In [12]:
# A list is a collection of heterogenous items (i.e., items can be of different data types). The values for these items are mutable.
# The elements in a list are enclosed within [ ], and separated by comma , 
list1 = [2.8, 9.2, 23.1]
list1[0]  # The first element in the list

2.8

In [11]:
list1/2

NameError: name 'list1' is not defined

Do not worry! That is just to show you why we prefer to work with Numpy array. 
Simple operations like in the above example are not supported by this data type.

In [20]:
# Note that lists can take heterogenous items, while Numpy array can only take homogenous items.
list2 = [2.89, True, 'Houston', 14]
print(list2)
array2 = np.array([2.89, True, 'Houston', 14])
print(array2)

[2.89, True, 'Houston', 14]
['2.89' 'True' 'Houston' '14']

Pay close attention to the output of print(array2). Have you noticed that when you put heterogenous items into a Numpy array, all the items will be converted into the same data type (in this case, strings)?

# Section 7: Tuples

In [21]:
# A tuple is a collection of heterogeneous items that are enclosed by parentheses (optional) and separated by comma ,
# The values of the items in a tuple are immutable
tup1 = 1, 2, 3, 4, 5
tup1[1]   # the item with index of 1 in the tuple

2

In [22]:
tup2 = (4, 21, 6, 9, 76)
tup2[2]   # the item with index of 2 in the tuple

6

In [23]:
tup3 = 'dog', 'cat', 29, 13
tup3[1]

'cat'

# Section 8: Dictionary

In [24]:
# A dictionary consists of a sequence of key-value pairs, enclosed by curly brackets { }, and separate by comma ,
stockprice = {"ExxonMobile":88.32, "BP":43.86, "Chevron":131.70, "Anadarko":61.32}
stockprice["BP"]   # retrieve the stock price for BP, by using the key

43.86

In [25]:
# you can check if a key exists in a dictionary
"BP" in stockprice

True

In [26]:
# You can change the value associated with any key in the dictionary
del(stockprice["BP"])
stockprice

{'Anadarko': 61.32, 'Chevron': 131.7, 'ExxonMobile': 88.32}

# Section 9: If statement

The syntax for if statement:

**if** <font color = blue>*expression*</font>:<br> 
&nbsp;&nbsp; <font color = red>statement(s)</font>

An if statement consists of a boolean expression (or equivalently, logical expression) followed by one or more statements.  <br>
If the boolean expression evaluates to TRUE, then the block of statement(s) inside the if statement is executed. If boolean expression evaluates to FALSE, then the first set of code after the end of the if statement(s) is executed.

In [27]:
# an example of if statement
val = 10
if (val%2 == 0):   # The expression in the brackets is true; note that the brackets are optional
    print('val is divisible by 2')    # Therefore, this statement is executed

val is divisible by 2

We can also have if-else statement:
    
**if** <font color = blue>*expression*</font>:<br> 
&nbsp;&nbsp; <font color = red>statement(s)</font> <br>
**else:**<br>
&nbsp;&nbsp; <font color = red>statement(s)</font>

In [28]:
# an example of the if-else statement
val = 15
if (val%2 == 0):   # The expression in the brackets is false
    print("val is even!")  # Therefore, this statement is not executed
else: 
    print("val is odd!")  # This statement is executed instead.

val is odd!

A more general form of the if statement has the following form:

**if** <font color = blue>*expression1*</font>:<br> 
&nbsp;&nbsp;&nbsp; <font color = red>statement(s)</font> <br>
**elif** <font color = blue>*expression2*</font>:<br>
&nbsp;&nbsp;&nbsp; <font color = red>statement(s)</font><br>
**elif** <font color = blue>*expression3*</font>:<br>
&nbsp;&nbsp;&nbsp; <font color = red>statement(s)</font><br>
**else:**<br>
&nbsp;&nbsp;&nbsp; <font color = red>statement(s)</font>

In [29]:
# An example of the if-elif-else statement
var = 1500
if var == 1000:   # the expression is false
    print("1 - Got a true expression value")  # Thus, this statement is not executed
    print(var)
elif var == 1500:  # the expression is true
    print("2 - Got a true expression value")  # Thus, this statement is executed
    print(var)
elif var == 2000:
    print("3 - Got a true expression value")
    print(var)
else:
    print("4 - Got a false expression value")
    print(var)

2 - Got a true expression value
1500

# Section 10: While loop

The syntax for while loop:
    
**while** <font color = blue>*expression*</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color = red>statement(s)</font>    

A while loop repeatedly executes the statement(s) if the expression evaluates to True.
If the expression evaluates to False, the statement(s) will be skipped, and the first statement after the while loop will be executed.

In [30]:
# example of a while loop 
val = 0
while (val < 6):
    print("val =", val)
    val = val + 1
    
print('done!')

val = 0
val = 1
val = 2
val = 3
val = 4
val = 5
done!

# Section 11: For loop

The for loop has the following form:
    
**for** <font color = blue>*var*</font> **in** <font color = green>*seq*</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color = red>statement(s)</font>  

which can be interpreted as:
for each <font color = blue>*var*</font> in the sequence <font color = green>*seq*</font> (could be a list or a string), execute statements

In [31]:
# an example of for loop
for letter in "Python":   # note that the sequence here is actually a string
    print("Current letter is:", letter)

Current letter is: P
Current letter is: y
Current letter is: t
Current letter is: h
Current letter is: o
Current letter is: n

In [10]:
# another example of for loop
cities = ["Houston", "LA", "Denver", "New York"]
for city in cities:  # Note that the sequence, cities, here is a list
   print("The current city is:", city)

The current city is: Houston
The current city is: LA
The current city is: Denver
The current city is: New York

# Congratulations on finishing your first Python tour! You are now equipped with enough Python knowledge that you can start programming in Python!